/* line 1, ../footer.scss */
.footer {
  display: flex;
  flex-direction: column;
}
/* line 5, ../footer.scss */
.footer-company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* line 11, ../footer.scss */
.footer-company .name {
  font-size: 36px;
  letter-spacing: 0.9px;
  margin-left: 15px;
}
/* line 16, ../footer.scss */
.footer-company img {
  height: 55px;
}
/* line 21, ../footer.scss */
.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

@media only screen and (min-width: 480px) {
  /* Tablet size*/
}
@media only screen and (min-width: 768px) {
  /* Desktop size*/
}
