@charset "UTF-8";
/* line 2, ../projects.scss */
.projects-heading {
  width: 70%;
}
/* line 5, ../projects.scss */
.projects-grid {
  margin-top: 35px;
}
/* line 11, ../projects.scss */
.projects-grid.companies .item:nth-child(5) {
  display: none;
}
/* line 12, ../projects.scss */
.projects-grid.companies .item:nth-child(13) {
  display: none;
}
/* line 12, ../projects.scss */
ß
.projects-grid.companies .item:nth-child(14) {
  display: none;
}
/* line 14, ../projects.scss */
.projects-grid.companies .item:nth-child(15) {
  display: none;
}
/* line 15, ../projects.scss */
.projects-grid.companies .item:nth-child(16) {
  display: none;
}

/* line 21, ../projects.scss */
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}
/* line 30, ../projects.scss */
.company img.small {
  width: 90px;
}
/* line 33, ../projects.scss */
.company img.large {
  width: 245px;
}

@media only screen and (min-width: 480px) {
  /* Tablet size*/
}
@media only screen and (min-width: 768px) {
  /* Desktop size*/
  /* line 52, ../projects.scss */
  .projects-grid.companies .item:nth-child(5) {
    display: initial;
  }
  /* line 53, ../projects.scss */
  .projects-grid.companies .item:nth-child(13) {
    display: initial;
  }
  /* line 54, ../projects.scss */
  .projects-grid.companies .item:nth-child(14) {
    display: initial;
  }
  /* line 55, ../projects.scss */
  .projects-grid.companies .item:nth-child(15) {
    display: initial;
  }
  /* line 56, ../projects.scss */
  .projects-grid.companies .item:nth-child(16) {
    display: initial;
  }

  /* line 64, ../projects.scss */
  .company img.small {
    width: 40%;
  }
  /* line 67, ../projects.scss */
  .company img.large {
    width: 60%;
  }
}
