
.about{
    &-copy{
        padding:20px;
        margin-bottom:40px;
    }
    &-heading{
        width:70%;
    }
    &-grid{
        margin-top:50px;
    }

    &-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        padding:10px;

        img{
            width: 80%;
            margin-bottom: 10px;
        }
        .tag{
            font-size: 14px;
            letter-spacing: 0.35px;
            text-align: center;
        }
    }
}


@media only screen and (min-width:480px) {
    /* Tablet size*/

    .about{


        &-logo{
            img{
                width: 60%;
                margin-bottom: 25px;
            }
            .tag{
                font-size: 16px;
                letter-spacing: 0.30px;
            }
        }
    }
}

@media only screen and (min-width:768px) {

    .about{
        &-copy{
           font-size: 18px;
           margin: 55px 0 55px 0;
        }

        &-grid{
            margin-top:70px;
        }

        &-logo{
            img{
                width: 60%;
                margin-bottom: 42px;
            }
            .tag{
                font-size: 18px;
                letter-spacing: 0.45px;
            }
        }
    }
   
    
}