.contact{
    &-heading{
        width:70%;
    }

    &-grid{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .link{
                padding: 20px;
                font-size: 18px;
                letter-spacing: 0.45px;
            }
        }
    }
}

@media only screen and (min-width:480px) {
    /* Tablet size*/
}

@media only screen and (min-width:768px) {
    /* Desktop size*/
}