.experience{
    &-heading{
        width:70%;
    }
    &-grid{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        &-row{
            display: flex;

            &:last-child{
                .timeline{
                    .dash-holder{
                        display: none;
                    }
                }
            }

            .description{
                display: flex;
                flex-direction: column;

                .title{
                    font-size: 18px;
                    letter-spacing: 0.15px;
                    line-height: 20px;
                    margin: 8px 0 15px 0;
                }

                .date{
                    font-size: 16px;
                    color: #484848;
                    letter-spacing: 0.4px;
                }

                p{
                    margin: 0;
                    padding: 15px 0 30px 0;
                    font-size: 16px;
                    color: #878787;
                    letter-spacing: 0.4px;
                    text-align: justify;
                }
            }
            .timeline{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px;
                width: 100%;
                margin-top: 5px;

                .dash-holder{
                    display: flex;
                    flex-grow: 1;
                    margin-top:5px;

                    .dash{
                        min-height: 100%;
                        border-right: dashed black 5px;
                    }
                }            
            }
        }
    }
}

@media only screen and (min-width:480px) {
    /* Tablet size*/
}

@media only screen and (min-width:768px) {
    /* Desktop size*/

    .experience{
        &-grid{
            &-row{

                &.left{
                    flex-flow: row-reverse;

                    .description:nth-last-of-type(1){
                        text-align: right;
                        align-items: flex-end;

                        p{
                            text-align: right;
                        }
                    }
                }

                .description{
                    min-width: 40%;
                    p{
                        text-align: left;
                        max-width: 450px;
                    }
                }

                .timeline{
                    min-width: 10%;
                }
            }
        }
    }
}