.skills{
    &-heading{
        width:70%;
    }
    &-list{
        margin-top:35px;
        &-heading{
            margin-bottom: 10px;
        }
    }
    &-grid{
        .item{
            margin-bottom: 10px;
        }
    }
    &-outer-grid{
        display: flex;
        flex-direction: column;
        margin:55px 0 55px 0;
    }
}

@media only screen and (min-width:480px) {
    /* Tablet size*/
}

@media only screen and (min-width:768px) {
    /* Desktop size*/

    .skills{
        &-outer-grid{
            flex-direction: row;
        }
    }
}