/* line 2, text.scss */
.font-white {
  color: #FFFFFF;
}
/* line 5, text.scss */
.font-right-align {
  text-align: right;
}

/* line 10, text.scss */
.copy {
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: justify;
}

/* line 16, text.scss */
h2 {
  font-size: 21px;
  letter-spacing: 0.52px;
  margin: 0;
}

/* line 21, text.scss */
h3 {
  font-size: 18px;
  letter-spacing: 0.45px;
  margin: 0;
}

/* line 28, text.scss */
.underline-black:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0.5) 70%, white 100%);
  display: block;
  margin-top: 10px;
}
/* line 35, text.scss */
.underline-white:after {
  content: "";
  height: 2px;
  background: linear-gradient(to left, black 0%, rgba(255, 255, 255, 0.5) 50%, white 100%);
  display: block;
  margin-top: 10px;
}

@media only screen and (min-width: 480px) {
  /* Tablet size*/
}
@media only screen and (min-width: 768px) {
  /* Desktop size*/
  /* line 51, text.scss */
  .copy {
    font-size: 18px;
    letter-spacing: 0.45px;
    text-align: center;
  }

  /* line 56, text.scss */
  h2 {
    font-size: 36px;
    letter-spacing: 0.9px;
    max-width: unset;
  }

  /* line 61, text.scss */
  h3 {
    font-size: 24px;
    letter-spacing: 0.6px;
  }
}
